Source: stepmania
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Etienne Millon <etienne.millon@gmail.com>
Build-Depends:
 autoconf,
 automake,
 autotools-dev,
 debhelper (>= 9),
 libbz2-dev,
 libjsoncpp-dev,
 libpcre3-dev,
 libgl1-mesa-dev | libgl-dev,
 libglew-dev,
 libglu1-mesa-dev | libglu-dev,
 libjpeg-dev,
 libmad0-dev,
 libpng-dev,
 libtomcrypt-dev,
 libvorbis-dev,
 libxrandr-dev,
 pkg-config,
 yasm
Standards-Version: 3.9.3
Homepage: http://stepmania.com/

Package: stepmania
Architecture: any
Depends:
 stepmania-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: rythm and dancing game
 StepMania is a rhythm game for Windows, Mac, and Linux. It features 3D
 graphics, keyboard and "dance pad" support, and an editor for creating your own
 steps.

Package: stepmania-data
Architecture: all
Depends: ${misc:Depends}
Recommends: stepmania
Description: rythm and dancing game - data files
 StepMania is a rhythm game for Windows, Mac, and Linux. It features 3D
 graphics, keyboard and "dance pad" support, and an editor for creating your own
 steps.
 .
 This package contains architecture-independent data files.
