#!/usr/bin/make -f

%:
	dh $@  --with autotools-dev

override_dh_auto_configure:
	./autogen.sh
	./Utils/build.sh --configure

override_dh_auto_build:
	./Utils/build.sh --stepmania

override_dh_clean:
	dh_clean -X'Themes/_themekit-piu/Scripts/02 ini read.lua.bak'

override_dh_auto_test:
	# Skip tests

override_dh_fixperms:
	dh_fixperms
	chmod a-x 'debian/stepmania-data/usr/share/stepmania/Themes/default/Graphics/LifeMeterBattery lives/default.lua'
	chmod a-x 'debian/stepmania-data/usr/share/stepmania/Themes/default/Graphics/LifeMeterBattery lives/_lives 1x10.png'
	chmod a-x 'debian/stepmania-data/usr/share/stepmania/Themes/default/Languages/pl.ini'
	chmod a-x 'debian/stepmania-data/usr/share/stepmania/Themes/_fallback/Languages/pl.ini'

override_dh_installchangelogs:
	dh_installchangelogs Docs/Changelog_sm5.txt
