#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_configure:
	rm -rf extern/pcre
	rm -rf extern/jsoncpp
	rm -rf extern/libpng
	rm -rf extern/vorbis
	rm -rf extern/zlib
	rm -rf extern/mad-0.15.1b
	rm -rf extern/glew-1.5.8
	rm -rf extern/libjpeg
	rm -rf extern/for_mingw
	rm -rf src/libtomcrypt
	rm -rf src/libtommath
	sh autogen.sh
	dh_auto_configure -- --with-system-ffmpeg

override_dh_clean:
	dh_clean -X'Themes/_themekit-piu/Scripts/02 ini read.lua.bak'

override_dh_auto_test:
	# Skip tests

override_dh_installchangelogs:
	dh_installchangelogs Docs/Changelog_sm5.txt
